html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d2a4b;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 50px;
}

li {
  list-style: none;
}

img {
  padding-left: 30px;
}

.side-nav {
  float: left;
  background-color: #6148ff;
  min-height: 100vh;
  min-width: 25vw;
  /* outline: 5px solid green; */
}

.side-nav-header {
  background-color: #ebebeb;
  color: black;
  padding: 20px 10px;
  display: flex;
}

.side-nav-header h3 {
  display: inline;
  margin-left: 10px;
  margin-top: 33px;
  padding: 0;
}

.side-nav-header img {
  margin-top: 40px;
}

.side-nav-body {
  margin-top: 50%;
  margin-bottom: 90%;
}

.side-nav-body li {
  padding: 12px;
  margin-bottom: 50px;
}

.side-nav-footer {
  padding-left: 40px;
  position: fixed;
}

.main {
  padding-top: 15%;
  margin-left: 35%;
  font-size: 100px;
}

#v-no-input {
  background-color: #d9d9d9;
  border: 5px solid lightgoldenrodyellow;
  border-radius: 10px;
  height: 6vh;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#v-no-submit {
  border: 2px solid lightgoldenrodyellow;
  border-radius: 10px;
  background-color: #46a561;
  height: 6vh;
  width: 20%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
